<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student1" class="test5.Student">
		<constructor-arg value="홍길동"/>
		<constructor-arg value="30"/>
		<constructor-arg value="3학년"/>
		<constructor-arg value="20반"/>
	</bean>

	<bean id="student2" class="test5.Student">
		<constructor-arg value="홍길순"/>
		<constructor-arg value="25"/>
		<constructor-arg value="1학년"/>
		<constructor-arg value="11반"/>
	</bean>
	
	<bean id="studentInfo" class="test5.StudentInfo">
		<constructor-arg>
			<ref bean="student1"/>
		</constructor-arg>
	</bean>



</beans>
